.site-header {
  width: 100%;
  z-index: 100;
}

.navbar {
  box-shadow: 0 0 4px 0 $diamm-black;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  li {
    margin-bottom: 0;
  }

  .navbar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    a {
      color: $diamm-black;
      text-decoration: none;
      padding: 0.6rem 1rem;
      font-size: 1.2rem;
      font-family: $menu-font;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      display: flex;
      align-items: flex-start;
      &:hover, &:focus {
        border-bottom: none;
        background: $diamm-red;
        color: $diamm-white;
      }
    }

  }
}




