{% extends "base.jinja2" %}

{% block body %}
    <h1>Home Page</h1>

    <p>Select the ingredients you want in your recipes</p>

    {% if content.user_favourite %}
    <div class="pull-right">
        <h2>Favourites</h2>
        <ul>
            {% for user in content.user_favourite %}
                {% for recipe in user.favourite %}
                    <li><a href="{{ recipe.url }}">{{ recipe.name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form action="{{ url('recipe-list') }}" method="get">
    <h2>Ingredient List</h2>

        {% for ingredient in content.ingredients %}
           <input type="checkbox" id="{{ ingredient.name }}" name="ingredient" value={{ ingredient.name }}>
            <label for="{{ ingredient.name }}">{{ ingredient.name }}</label><br>
        {% endfor %}

    <h3>Dietary Restrictions</h3>

        {% for restriction in content.restrictions %}
           <input type="checkbox" id="{{ restriction.name|replace(" ", "_") }}" name="restriction" value={{ restriction.name|replace(" ", "_") }}>
            <label for="{{ restriction.name|replace(" ", "_") }}">{{ restriction.name }}</label><br>
        {% endfor %}

    <button type="submit">Search</button>
    </form>

{% endblock %}