{% extends "base.jinja2" %}

{% block body %}
    <h1>Results</h1>
    {% if content.results %}
        <ul>
            {% for recipe in content.results %}
                <li><a href="{{ recipe.url }}">{{ recipe.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No results matched your search.
    {% endif %}
    <a href="{{ url('home') }}">Home</a>
{% endblock %}