{% extends "base.jinja2" %}

{% block body %}
    <h1>Results</h1>
    <ul>
        {% for recipe in content.results %}
            <li><a href="{{ recipe.url }}">{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}